  <div class="hero-body container">
    <div class="columns">
      <div class="column left is-5-desktop">
        <h1 class="title is-size-2-mobile is-1 is-spaced has-text-white">Welcome#index</h1>
          <h2 class="subtitle is-5 has-text-white">Find me in app/views/welcome/index.html.erb</h2>

          
        <div class="buttons"><a class="ls-button button has-text-weight-bold is-success">Download Theme</a><a
            class="ls-button button has-text-weight-bold is-info">Live Demo</a></div>
      </div>
      <div class="column right is-5-desktop is-offset-1-desktop"><img class="ls-main-hero--image" src="<%= image_path("layout.png") %>"
          alt="Layout"></div>
    </div>
  </div>
    
    
    