<div class='container'>
  <div class='columns'>
    <div class='column'>
    
    <h1>Editing Cheatsheet</h1>

<%= render 'form', cheatsheet: @cheatsheet %>

<%= link_to 'Show', @cheatsheet %> |
<%= link_to 'Back', cheatsheets_path %>
    </div>
  </div>
</div>