<%= render  "layouts/navigation" %>
<!-- This is the work area: The section tag starts in /_navigation. -->
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          LearnShortcuts saves you time.
      </h1>
      <h2 class="subtitle">
          By organizing reviewing keyboard commands and shortcuts so you're always learning what you
          Don't know not wasting time studying the shortcuts you do.
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LearnShortcuts makes you money.
      </h1>
      <h2 class="subtitle">
        The better a developer you are, the higher a price you'll command in the marketplace. LearnShortcuts makes you a better developer.
      </h2>
    </div>
  </div>
</section>
<%= render  "layouts/darkfooter" %>