<nav class='navbarBottom is-fixed-bottom'>
  <footer class="footer">
    <div class="container">
      <div class="columns has-text-centered-mobile">
        <div class="column is-4"><img class="ls-space" src="<%= image_path("blue-logo.png") %>"
            srcset="<%= image_path("blue-logo@2x.png") %> 320w, <%= image_path("blue-logo@3x.png") %> 400w, <%= image_path("blue-logo@3x.png") %> 1024w"
            title="LandSpeed BulmaStyle" width="197" height="45">
          <p class="has-text-grey">BulmaStyle is a marketplace for premium quality Bulma themes & templates for your
            website. Bulma is a free and open source CSS framework based on Flexbox</p>
        </div>
        <div class="column is-2">
          <h5 class="title has-text-dark is-5">About</h5>
          <ul class="ls-footer-links">
            <li><a href="/">About</a></li>
            <li><a href="/">Templates</a></li>
            <li><a href="/">Integrations</a></li>
            <li><a href="/">servce</a></li>
            <li><a href="/">Feature</a></li>
            <li><a href="/">Testimonials</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <h5 class="title has-text-dark is-5">Resources</h5>
          <ul class="ls-footer-links">
            <li><a href="/">Info</a></li>
            <li><a href="/">Tools</a></li>
            <li><a href="/">Podcasts</a></li>
            <li><a href="/">Ebooks</a></li>
            <li><a href="/">Tools</a></li>
            <li><a href="/">Videos</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <h5 class="title has-text-dark is-5">Company</h5>
          <ul class="ls-footer-links">
            <li><a href="/">About Us</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Terms &amp; Conditions</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Press</a></li>
          </ul>
        </div>
      </div>
      <div class="columns ls-footer">
        <div class="column is-5 is-marginless has-text-centered-mobile content has-text-grey">
          <p>Copyright Crop 2017 &copy; Bulmasyle.com</p>
        </div>
        <div class="column is-7">
          <ul class="columns ls-bottom-links is-mobile is-multiline is-marginless">
            <li class="ls-bottom-link"><a href="/">Privacy Policy</a></li>
            <li class="ls-bottom-link"><a href="/">Customers</a></li>
            <li class="ls-bottom-link"><a href="/">Support</a></li>
            <li class="ls-bottom-link"><a href="/">New Features</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</nav>