<div class="hero-head">
  <nav class="navbar container ls-main-nav">
    <div class="navbar-brand">
      <a href="#" class="navbar-item">
        <img src ="<%= image_path("bulma-style.png") %>" 
          srcset="<%= image_path("bulma-style@2x.png") %> 320w, <%= image_path("bulma-style@3x.png") %> 400w, <%= image_path("bulma-style@3x.png") %> 1024w"
          title="LandSpeed BulmaStyle" width="195">
      </a>
      <a role="button" class="navbar-burger has-text-info"
        data-target="mainNavMenu" aria-label="menu" aria-expanded="false"><span aria-hidden="true"></span><span
          aria-hidden="true"></span><span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="mainNavMenu">
      <div class="navbar-end has-text-info"><a href="#" class="navbar-item is-size-7 is-active">Home</a><a href="#"
          class="navbar-item is-size-7">Features</a><a href="#" class="navbar-item is-size-7">Theme</a><a href="#"
          class="navbar-item is-size-7">Service</a><a href="#" class="navbar-item is-size-7">Pricing</a><a href="#"
          class="navbar-item is-size-7">Testimonial</a><a href="#" class="navbar-item is-size-7">Contact</a><a
          href="#" class="navbar-item is-size-7 ls-main-nav--signup">Free Sign Up Now!</a></div>
    </div>
  </nav>
</div>